/* styles.css */
body {
  background-color: rgb(133, 52, 34); /* Set the background color */
  font-family: 'Arial', sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
.container {
  text-align: center;
  animation: fadeIn 2s ease-in-out;
}

header h1 {
  font-size: 3rem;
  animation: slideIn 1s ease-out;
}

header p {
  font-size: 1.2rem;
  animation: slideIn 1.5s ease-out;
}

form {
  margin-top: 20px;
  animation: slideIn 2s ease-out;
}

input[type="email"] {
  padding: 10px;
  width: 300px;
  border: none;
  border-radius: 5px;
  margin-right: 10px;
  font-size: 1rem;
}

/* Default button styles */
.submit-button {
  padding: 10px 20px;
  background-color: #ff6f61;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #ff3b2f;
}

/* Mobile-specific styles */
@media (max-width: 768px) {
  .submit-button {
    margin: 20px 0; /* Add margin to the top and bottom */
  }
}

.success-message {
  margin-top: 20px;
  font-size: 1.2rem;
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideIn {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}
